{% extends 'accounts/main.html' %}
{% block content %}

<br>
<!-- <div id="data" style='display:none'>{{data}}</div>
<div id="labels" style='display:none'>{{labels}}</div> -->
<div class="row">
    <!-- <div class="col"> -->
        <div class="col-md-4">
            <div class="card card-body">
                <h5>Products to Orders:</h5>
                <hr>
                <canvas id="pie-chart"></canvas>
            </div>
            <div class="card card-body">
                <h5>Customer to Orders:</h5>
                <hr>
                <canvas id="bar-chart"></canvas>
            </div>
        </div>
    <!-- </div>
    <div class="col"> -->
        <div class="col-md-8">
            <div class="card card-body">
                <h5>Order to Dates:</h5>
                <hr>
                <canvas id="line-chart"></canvas>
            </div>
        </div>
    <!-- </div> -->
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">

    var backgroundColorList = []
    function generateRandomColor(len)
    {
        console.log(len)
        for(let i=0;i<len;i++){
            var randomColor = '#'+Math.floor(Math.random()*16777215).toString(16);
            backgroundColorList[i] = randomColor
        }
        console.log(backgroundColorList)
        return backgroundColorList;
        //random color will be freshly served
    }

    $.get('{% url "getcharts" %}', function (data) {
        var poctx = $("#pie-chart").get(0).getContext("2d");
        var poconfig = {
            type: 'pie',
            data: {
                datasets: [{
                    data: data.product.data,
            backgroundColor: generateRandomColor(data.product.data.length),
            label: 'Orders'
    }],
        labels: data.product.labels
      },
        options: {
        responsive: true
    }
    };
    new Chart(poctx, poconfig);
        var coctx = $("#bar-chart").get(0).getContext("2d");
        var coconfig = {
            type: 'bar',
            data: {
                datasets: [{
                    data: data.customer.data,
            backgroundColor: '#'+Math.floor(Math.random()*16777215).toString(16),//generateRandomColor(data.customer.data.length),
            label: 'Customers'
    }],
        labels: data.customer.labels
      },
        options: {
        responsive: true
    }
    };
    new Chart(coctx, coconfig);
        var occtx = $("#line-chart").get(0).getContext("2d");
        var occonfig = {
            type: 'line',
            data: {
                datasets: [{
                    data: data.order_customer.data,
            backgroundColor: '#'+Math.floor(Math.random()*16777215).toString(16),//generateRandomColor(data.customer.data.length),
            label: 'Orders'
    }],
        labels: data.order_customer.labels
      },
        options: {
        responsive: true
    }
    };
    new Chart(occtx, occonfig);
    });
</script>

{% endblock %}